daily_rmr_GAMM_plot.rds
daily_rmr_GLMM_violin_plot.rds
daily_temp_GAMM_plot.rds
daily_temp_GLMM_violin_plot.rds
mdt_used_GAMM_available_13.rds
daily_smr_GAMM_plot.rds
daily_smr_GLMM_violin_plot.rds
scope_for_activity_gamm_plot.rds
scope_for_activity_lm_plot.rds
Scope_of_activity_and_AS_gamm_plot_basin.rds
areobic_activity_gamm_plot_basin.rds
areobic_activity_gamm_plot_no_basin.rds
mmr_rmr_smr.rds
