metabolism_and_scope_plot_CORRECT_jan_sfa.png
metabolism_and_scope_plot_CORRECT_pt_jan_sfa.png
metabolism_and_scope_plot_wo_grey_CORRECT_jan_sfa.png
metabolism_and_scope_plot_wo_grey_CORRECT_pt_jan_sfa.png
